body{
    position: relative;
}
    input{
        border-top: 1px solid #575757; /* 上側の枠線を設定 */
        border-right: 1px solid #575757;
        border-bottom: 1px solid #575757;
        border-radius: 0px 20px 20px 0px;
        font-size: 15px;
    }
    
    input:focus {
        outline: none;
    }
      
    #square {
        position:absolute;
        background: rgb(82, 180, 136);
        
        width: 1390px;
        height: 70px;
        margin-left:-50px;
        z-index: 0;
    }

/* ホームボタン */

        #home {
            position: absolute;
            background: transparent;
            width: 140px;
            height: 50px;
            margin-left:180px;
            margin-top: 10px;
            border-radius: 9999px;
            opacity: 50%;
            z-index: 1;
        }

        #hometext {
            position: absolute;
            color: white;
            font-size: 20px;
            margin-left: 240px;
            margin-top: 20px;
        }

        #homeicon {
            position: absolute;
            background: transparent;
            width: 50px;
            height: 10px;
            margin-left:200px;
            margin-top: 18px;
            border-radius: 9999px;
            filter:invert(100%);
            z-index: 1;
        }

/* ジャンルボタン */

        #genre {
            position: absolute;
            background: transparent;
            width: 135px;
            height: 50px;
            margin-left:340px;
            margin-top: 10px;
            border-radius: 9999px;
            cursor: pointer;
            z-index: 1;
}

        #genretext {
            position: absolute;
            color: white;
            font-size: 20px;
            margin-left: 379.5px;
            margin-top: 20px;
}
        #genre_triangle {
            position: absolute;
            margin-left: 355px;
            margin-top: 25px;
            border-top: 10px solid  transparent;
            border-bottom: 10px solid  transparent;
            border-left: 10px solid rgb(255, 255, 255);
            transform: rotate(0deg);
}

/* ログインボタン */
        #account {
            position: absolute;
            background: transparent;
            width: 100px;
            height: 50px;
            margin-left:1190px;
            margin-top: -14px;
            border-radius: 9999px;
            z-index: 1;
            cursor: pointer;
        }

        #accounttext {
            position: absolute;
            color: white;
            font-size: 20px;
            margin-left: 1200px;
            margin-top: -2px;
        }

/* 検索 */
        #search {
            position: absolute;
            border-radius: 9999px;
            width: 250px;
            height: 35px;
            margin-left: 750px;
            margin-top: -7px;
            z-index: 50;

        }
        #SearchIconBotton {
            position: absolute;
            background: white;
            width: 40px;
            height: 34.5px;
            margin-left:-40px;
            margin-top: -35.6px;
            border-radius: 20px 0px 0px 20px;
            cursor: pointer;
            border-right: 1px solid #575757;
            border-left: 1px solid #575757;
            border-top: 1px solid #575757;
            border-bottom: 1px solid #575757;
            z-index: 1;
        }
        #SearchIcon {
            position: absolute;
            background: transparent;
            width: 50px;
            height: 10px;
            margin-left:-27px;
            margin-top: -27px;
            border-radius: 9999px;
            z-index: 2;
        }






